@import url("./fonts.css");
@import url("./header.css");
@import url("./upper.css");
@import url("./midle.css");
@import url("./footer.css");
@import url("./media.css");
@import url("./variable.css");





*, *::after, *::before{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
}
